.mem-container {
  flex-grow: 1;
  flex-direction: row;
  padding: 10px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 87%);
  height: 85vh;
  margin-top: 80px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.mem-container .title {
  color: black;
  font: Arial;
}

.mem-container .mem-scrollable-container {
  height: 75vh;
  overflow-y: auto;
  flex-wrap: wrap;
  width: 100%;
}
